// abstracts/_colors.scss

// 🎨 Color Palette
$secondary: #ffd700;
$primary: #4caf50;

$black: #242424;
$black-75: #242424bf;
$black-50: #24242480;
$black-25: #24242440;
$black-10: #2424241a;
$black-5: #2424240d;
$whitesmoke: #f5f5f5;

// 🏗 Color Usage
