@import "../base/colors";
@import "../base/typography";

// HEADER
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 clamp(16px, 5vw, 128px);
  background-color: $primary;
  max-width: 100%;
  height: clamp(48px, 5rem, 96px);
  box-shadow: 0px 1px 1px rgba(36, 36, 36, 0.5), 0px 5px 5px rgba(36, 36, 36, 0.4), 0px 12px 12px rgba(36, 36, 36, 0.3),
    0px 20px 20px rgba(36, 36, 36, 0.2), 0px 32px 32px rgba(36, 36, 36, 0.1);
  // logo
  .logo__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: clamp(64px, 192px, 192px);
    min-height: 64px;
    max-height: 96px;
    .logo {
      width: clamp(64px, 80px, 80px); // Ukuran tetap antara 64px dan 80px
      height: clamp(64px, 80px, 80px);
      filter: drop-shadow(0 3px white);
    }
  }

  // navigation
  nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: clamp(8px, 1.25rem, 16px) clamp(16px, 1.5rem, 32px);
    text-align: center;
    a {
      font-family: $font-heading;
      font-size: $font-size-h5;
      line-height: $line-height-h5;
      font-weight: bold;
      color: $text;
      padding: 0 clamp(16px, 1.5rem, 32px);
      border-right: 1px solid $text;
      i {
        color: $secondary;
      }
      &:last-child {
        border: none;
      }
      &:hover {
        i {
          color: $hover-secondary;
          transition: all ease-in-out 0.3s;
        }
        background-image: linear-gradient($hover-secondary, $hover-primary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all ease-in-out 0.3s;
      }
    }
  }

  // register / login
  .register {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: clamp(48px, 5rem, 96px);
    width: clamp(96px, 192px, 192px);
    .btn {
      background-color: $primary;
      border: 2px solid $secondary;
      color: $text;
      border-radius: 1rem;
      font-size: $font-size-h6;
      font-weight: bold;
      width: clamp(40px, 5rem, 80px);
      height: clamp(20px, 2.5rem, 40px);
      &:hover {
        border-color: $hover-primary;
        background-color: $hover-secondary;
        color: $hover-primary;
        transition: all ease-in-out 0.3s;
      }
    }
  }
}

main {
  margin-top: clamp(48px, 6rem, 96px);
  .hero {
    width: 100%;
    height: clamp(300px, 37rem, 600px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(64px, 6rem, 128px);
    padding: clamp(64px, 6rem, 128px);
    .hero__title {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: clamp(40px, 3.175rem, 80px);
      width: clamp(416px, 50rem, 832px);
      height: clamp(260px, 32rem, 520px);
      .hero__title-headline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: clamp(16px, 1.75rem, 32px);
        h1 {
          font-size: $font-size-h1;
          line-height: $line-height-h1;
          text-align: center;
          font-weight: bold;
        }
        p {
          font-size: $font-size-p;
          line-height: $line-height-p;
          text-align: justify;
        }
      }
      .cta {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(64px, 7.5rem, 128px);
        &__btn {
          background-color: $primary;
          border: 2px solid $secondary;
          color: $text;
          height: clamp(40px, 5rem, 80px);
          width: clamp(80px, 10rem, 160px);
          font-size: $font-size-h6;
          line-height: $line-height-h6;
          font-weight: bold;
          text-align: center;
          border-radius: 1rem;
          transition: all ease-in-out 0.3s;
          &:hover {
            background-color: $secondary;
            border: 2px solid $hover-primary;
            color: $hover-primary;
            transform: scale(1.1);
            transition: all ease-in-out 0.3s;
          }
        }
      }
    }
    .hero__image {
      border-radius: 1rem;
      width: clamp(448px, 55rem, 896px);
      height: clamp(300px, 36rem, 600px);
      background-color: $primary;
    }
  }
}
